.full-page {
  position: absolute;
  height: 100%;
  width: 100%;
}

.full-page-height {
  position: relative;
  height: 100%;
}

#cesium-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

#side-panel {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  width: 160px;
  padding: 10px 15px;
  transition: width 1s;
}

#side-panel, #side-panel a, #side-panel a:visited, #side-panel a:active {
  color: #E4E4E4;
}

#side-panel-background{
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  width: auto;  
  background-color: black;
  opacity: 45%; 
  z-index: 2;
}

#side-panel-locations {
  position: absolute;
  left: 12px;
  right: 12px;
  width: auto;
  top: 12px;
  bottom: 12px;
  height: auto;
  z-index: 3;
}

ul {
  margin: 0;
  padding-inline-start: 0px;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

#toggle-side-panel{
  z-index: 4;
}

#side-panel.collapsed {
  width: 40px;
}

#side-panel.collapsed ul {
  display: none;
}

#toggle-side-panel{
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#fly-out {
  display: none;
  position: absolute;
  top: 18px;
  left: 18px;
  width: 400px;
  height: auto;
  z-index: 1;
  background-color: black;
  opacity: .9;
  padding: 12px;
  color: white;
}

#fly-out.visible {
  display: block;
}

#fly-out h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

#fly-out-controls {
  margin: 0;
  display:flex;
  justify-content:flex-start;
}

#fly-out-controls .fly-out-control{
  display: inline;
  margin: 2px 2px;
}

#fly-out-controls .fly-out-control.justify-right {
  margin-left: auto;
}

/* Because there are more styles for the enabled state, we'll just use the class .enabled, and everything else is the absence of that state, i.e. disabled */
#fly-out-controls .fly-out-control svg{
  stroke: grey;
}

/* enabled states */
#fly-out-controls .fly-out-control.enabled svg{
  stroke: white;
}

#fly-out-controls .fly-out-control.enabled:hover {
  cursor: pointer;
}

#fly-out-controls .fly-out-control.enabled:hover {
  color: #B9FA05; /* section-4: Explore the Panorama */
}

#fly-out-controls .fly-out-control.enabled svg:hover rect{
  fill: #B9FA05; /* section-4: Explore the Panorama */
}
