.full-page {
  position: absolute;
  height: 100%;
  width: 100%;
}

.full-page-below-header, .full-page-below-header .cesium-viewer {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.full-page-height {
  position: relative;
  height: 100%;
}

#cesium-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

#side-panel {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  width: 160px;
  padding: 10px 15px;
  transition: width 0.5;
}

#side-panel, #side-panel a, #side-panel a:visited, #side-panel a:active {
  color: #E4E4E4;
}

#side-panel-background{
  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  width: auto;  
  z-index: 2;
  background-color: black;
}

.side-panel-transparent {
  opacity: 75%;
}

#side-panel-locations-viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
  z-index: 3;
  height: auto;
  padding: 0;
}

#side-panel-locations {
  position: relative;
  width: 160px;

}

ul {
  margin: 12px 12px;
  padding-inline-start: 15px;
}

/* 
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
} */

#side-panel-locations li:hover {
  cursor: pointer;
}

#side-panel-locations li.selected, #side-panel-locations li.selected a, #side-panel-locations li:hover, #side-panel-locations li:hover a {
  color: #FA8CA3;
}

#toggle-side-panel{
  z-index: 4;
}

#side-panel.collapsed {
  width: 10px;
  padding: 0;
}

#side-panel.collapsed ul {
  /* display: none; */
}

#toggle-side-panel{
  position: absolute;
  left: -20px; /* width of tab image is 32px*/
  bottom: 20px;
  overflow:hidden;
  width: 20px; /* crop the image so it's only showing 20px of the left */
}

#fly-out {
  display: none;
  position: absolute;
  top: 18px;
  left: 18px;
  width: 30%;
  height: auto;
  z-index: 1;
  background-color: black;
  opacity: .9;
  padding: 10px 12px;
  color: white;
}

#fly-out.visible {
  display: block;
}

#fly-out h2 {
  margin-top: 9px;
  margin-bottom: 6px;
  font-size: 18px;
}

#fly-out-controls {
  margin: 0;
  display:flex;
  justify-content:flex-start;
}

#fly-out-controls .fly-out-control{
  display: inline;
  margin: 2px 2px;
}

#fly-out-controls .fly-out-control.justify-right {
  margin-left: auto;
}

/* Because there are more styles for the enabled state, we'll just use the class .enabled, and everything else is the absence of that state, i.e. disabled */
#fly-out-controls .fly-out-control svg{
  stroke: grey;
}

/* enabled states */
#fly-out-controls .fly-out-control.enabled svg{
  stroke: white;
}

#fly-out-controls .fly-out-control.enabled:hover {
  cursor: pointer;
}

#fly-out-controls .fly-out-control.enabled:hover {
  color: #B9FA05; /* section-4: Explore the Panorama */
}

#fly-out-controls .fly-out-control.enabled svg:hover rect{
  fill: #B9FA05; /* section-4: Explore the Panorama */
}

#fly-out-image-caption.empty {
  display:none;
}