.conduit p {
    margin-top: 24px;
    margin-bottom: 9px;
}

.credit-image, .credit-image img {
    width: 125px;
    margin-bottom: 25px;
}

.credit-text {
    padding: 0 25px 0 25px;
}

.qr-code {
    text-align: center;
    margin: 48px auto;
}

.qr-code p {
    margin: 20px 10%;
}

#credit-logos {
    margin: 25px 0;
    display: grid;
    gap: 1em;
}

#credit-logos .credit-logo {
    padding: 10px 30px;
    /* background: #eee; */
    height: 175px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px) {

    #credit-logos {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

}

@media (max-width: 700px) {

    #credit-logos .credit-logo {
        padding: 10px 75px;
        height: 150px;
    }

}