.full-page {
  position: absolute;
  height: 100%;
  width: 100%;
}

.full-page-height {
  position: relative;
  height: 100%;
}

#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

#add-story {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 25px;
  width: 30%;
  opacity: .9; 
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
}

#add-story p {
  line-height: 20px;
}

#add-story h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

#add-story h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 12px;

}

.mapboxgl-ctrl-geocoder {
  min-width: 100% !important;
}

#your-story {
  width: 100%;
}

#your-story-and-submit{
  display: none;
}

#selected-location {
  background-color:#35C775;   
  position: absolute;
  top: 25px;
  right: 50px;
  width: 25%;
  z-index: 1;
  opacity: .9; 
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
}

#selected-location div {
  border-bottom: 1px dashed black;
  padding-bottom: 10px;
}

#selected-location-location {
  font-weight: bold;
}

#your-story

