html,
body {
    color: black;
    font-family: Georgia, 'Times New Roman', serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

body.section-1-context, .intro-navigation a.section-1-context {
  background-color: #F5CCE0; 
}

body.section-2-panorama-at-world-fair, .intro-navigation a.section-2-panorama-at-world-fair {
  background-color: #C0A58B; 
}

body.section-panorama {
  background-color: #80CEA3; 
}

body.section-4-explore, .intro-navigation a.section-4-explore {
  background-color: #A499D9;   
}

body.section-home, body.section-home .curve { 
  background-color: black; 
}

.dark-background {
  background-color: black;
}

.dark-background, .dark-background a, .dark-background a:visited, .dark-background a:active {
  color: white;
}


body {
  font-family: Forma,Helvetica,sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.conduit h1, .conduit h2 {
  text-align: center;
}

.h1-logo {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
}

body, a, a:visited, a:active {
  color: black;
  text-decoration: none;
}

.content {
  max-width: 768px;
  margin: auto;
  padding: 25px 0 0 0;
  background-color: inherit;
  position: relative;
}

.conduit, .content-block {
  margin-left: 25px;
  margin-right: 25px;
}

.conduit {
  position: relative;
  border-top: 2px solid black;
  padding: 25px;
  background-color: inherit;
  /*clip-path: polygon(626px 463px,765px 236px,687px 31px,271px 100px,70px 10px,49px 250px,133px 406px,374px 462px,529px 393px);*/
}

.dark-background .conduit{
  border-top: 2px solid white;
}

.conduit.around-the-right {
  border-top-right-radius: 25px;
  border-right: 2px solid black;
}

.dark-background .conduit.around-the-right {
  border-right: 2px solid white;
}

.conduit.around-the-right.connect-below {
  border-bottom-right-radius: 25px;
}

.conduit.connect-above {
  position: relative;
} 

.conduit.around-the-left {
  border-top-left-radius: 25px;
  border-left: 2px solid black;
}

.conduit.around-the-left.end-below {
  border-bottom-left-radius: 25px;
  border-bottom: 2px solid black;
  margin-bottom: 25px;
}

.dark-background .conduit.around-the-left {
  border-left: 2px solid white;
}

.conduit.around-the-right.connect-below::after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: -2px;
  height: 26px;
  width: 26px;
  z-index: 1;
  /* this should inherit the section's color and cover the botched rounded corner of the table */
  background-color: inherit;
  /* per https://nikitahl.com/using-svg-background-image-with-css-code-only */
  /* and this tool: https://www.bayustudio.com/app/svg-encoder/ */
  /*
    <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
      <rect x="-25" y="-25" rx="25" ry="25" width="50" height="50" fill="none" stroke="black" stroke-width="2"/>
    </svg>
  */
  background-image: url("data:image/svg+xml,%3csvg width='50' height='50' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='-25' y='-25' rx='25' ry='25' width='50' height='50' fill='none' stroke='black' stroke-width='2'/%3e%3c/svg%3e");
} 

.dark-background .conduit.around-the-right.connect-below::after {
  background-image: url("data:image/svg+xml,%3csvg width='50' height='50' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='-25' y='-25' rx='25' ry='25' width='50' height='50' fill='none' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
}
.conduit.around-the-left.connect-below::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 26px;
  width: 26px;
  z-index: 1;
  /* this should inherit the section's color and cover the botched rounded corner of the table */
  background-color: inherit;
  /* per https://nikitahl.com/using-svg-background-image-with-css-code-only */
  /* and this tool: https://www.bayustudio.com/app/svg-encoder/ */
  /*
    <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
      <rect x="0" y="-25" rx="25" ry="25" width="50" height="50" fill="none" stroke="black" stroke-width="2"/>
    </svg>
  */
  background-image: url("data:image/svg+xml,%3csvg width='52' height='52' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1' y='-27' rx='25' ry='25' width='52' height='52' fill='none' stroke='black' stroke-width='2'/%3e%3c/svg%3e");
} 

.dark-background .conduit.around-the-left.connect-below::after {
  background-image: url("data:image/svg+xml,%3csvg width='52' height='52' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1' y='-27' rx='25' ry='25' width='52' height='52' fill='none' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
}

.conduit.end-with-arrow {
  margin-bottom: 50px;
}

.conduit.around-the-right.end-with-arrow::after {
  content: '';
  position: absolute;
  right: -22px;
  bottom: -20px;
  height: 20px;
  width: 40px;
  /* per https://nikitahl.com/using-svg-background-image-with-css-code-only */
  /* and this tool: https://www.bayustudio.com/app/svg-encoder/ */
  /*
    <svg width="40" height="20" xmlns="http://www.w3.org/2000/svg">
      <g>
        <line stroke-width="2" y2="39" x2="19" y1="0" x1="19" stroke="#000000" fill="none"/>
        <line stroke-width="2" y2="0" x2="39" y1="19" x1="19" stroke="#000000" fill="none"/>
        <line stroke-width="2" y2="19" x2="19" y1="0" x1="0" stroke="#000000" fill="none"/>
      </g>
    </svg>
  */
  background-image: url("data:image/svg+xml,%3csvg width='40' height='20' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cline stroke-width='2' y2='39' x2='19' y1='0' x1='19' stroke='black' fill='none'/%3e%3cline stroke-width='2' y2='0' x2='39' y1='19' x1='19' stroke='black' fill='none'/%3e%3cline stroke-width='2' y2='19' x2='19' y1='0' x1='0' stroke='black' fill='none'/%3e%3c/g%3e%3c/svg%3e");
}


.full-bleed  {
  width: 100%;
  max-width: 768px;
}

/* seems to work to make the image full bleed to the enture screen */
/* .full-bleed {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
} */



.intro-navigation {
  margin-top: 20px;
}

.intro-navigation-row {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.intro-navigation a {
  width: 50%;
  box-sizing: border-box;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.75em;
  padding: 30px 20px;
}


.nav div {
  border: 1px solid black;
  border-radius: 3px;
}

.header explore-nav {
  float: right;
}

.header h1 {
  font-size: 2.25em; 
}

.video {
  position: relative;
  height: 600px;
  background-color: lightgray;
}

.image-container {
  padding-bottom: 25px;
}
.image-container .image{
  position: relative;
  height: 600px;
  background-color: lightgray;
}
.image-container .caption {
  text-align: right;
}




