#explore {
  height: 800px;
  z-index: 0;
}

#explore iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 0;
}

#scrolling-story{
  z-index: 1;
  position: relative;
  opacity: 0.75;
  transition: opacity 0.3s;
}

#scrolling-story.invisible {
  opacity: 0;
}
