#explore {
  position: fixed;
  top: 100px;
  left: 0;
  /*height: auto;*/
  bottom: 0;
  width: 100%;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s;
  cursor: crosshair;
  z-index: 0;
}

.viewer.visible {
  opacity: 1;
  pointer-events: auto;
}

#explore iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

#scrolling-story {
  position: relative;
  margin-top: 500px;
  z-index: 1;
}