.full-page {
  position: absolute;
  height: 100%;
  width: 100%;
}

.full-page-height {
  position: relative;
  height: 100%;
}

#cesium-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

#side-panel {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  width: 300px;
  background-color: grey;
  opacity: .9; 
  padding: 10px 15px;
  transition: width 1s;
}

#side-panel.collapsed {
  width: 50px;
}

#side-panel.collapsed ul {
  display: none;
}

#toggle-side-panel{
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100% !important;
}

#your-story {
  width: 100%;
}

#your-story-and-submit{
  display: none;
}

#selected-location {
  background-color:#35C775;   
  position: absolute;
  top: 25px;
  right: 50px;
  width: 25%;
  z-index: 1;
  opacity: .9; 
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
}

#selected-location div {
  border-bottom: 1px dashed black;
  padding-bottom: 10px;
}

#selected-location-location {
  font-weight: bold;
}

